<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>
	      $(document).ready(function() {
	      		
	      		$("body").fadeTo(0000, 0);
          		$("body").fadeTo(150, 1);
	          	$(".book-row img").click(function(){
			        $("body").fadeTo(150, 0);
			    });

	      });
	    </script>
	</head>

	<body>
		<div class="container-fluid home-body">
			<div class="row">
				<div class="col-md-9">
					<div class="container-fluid books-group">
						<p class="book-group-title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Sách mới trong tuần</p>

						<div class="row book-row">
							<% @books.each do |book| %>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="sub-book">
										<%= link_to image_tag(book.image), book %>
										<p class="title"><%= truncate book.title, length: 24 %></p>
										<div class="form-group rating-form">
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cho vào giỏ</button>
									</div>
								</div>
							<% end %>
						</div>
					</div>

					<div class="container-fluid books-group">
						<p class="book-group-title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Sách mới cập nhật</p>

						<div class="row book-row">
							<% @books.each do |book| %>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="sub-book">
										<%= link_to image_tag(book.image), book %>
										<p class="title"><%= truncate book.title, length: 24 %></p>
										<div class="form-group rating-form">
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cho vào giỏ</button>
									</div>
								</div>
							<% end %>
						</div>
					</div>


				</div>

				<div class="col-md-3">
					<%= render "layouts/categorysidebar" %>
				</div>
			</div>
		</div>
	</body>
</html>